.head {
    background: linear-gradient(0deg, rgba(2, 41, 69, 0.8), rgba(2, 41, 69, 0.8)), url('../../public/Mask\ Group\ 115.png');
    background-size: cover;
    height: 160px;
    margin-top: 0px !important;
}

.text {
    position: absolute;
    bottom: 30%;
    left: 10%;
    font-size: 50px;
    color: white;
}