.bg_text {
    flex-direction: column;
    background: #FAFAFA;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    font-family: 'Poppins';
    font-size: medium;
    line-height: 0.6cm;
}